<!DOCTYPE html>
<html>  
<head>
 	<meta charset="utf-8"> 
 	<title> Кратко </title> 

	<head> 	
			<h1>Джастин Тимберлейк</h1> 
	<body bgcolor="FFFFCC"> 
		<div class="content-container">
			<section class="image">
				<div class="image-container">
				<center><img src="img/1.png" width="300" alt="">
				</center>
				<section class="bio">
					<h2 id="bio" class="sectionText">Фильмы</h2>
					<p class="mainText">Американский певец, автор песен, композитор, продюсер, танцор и актёр. Обладатель четырёх премий «Эмми» и девяти премий «Грэмми». Джастин Тимберлейк пришёл к славе в качестве одного из солистов бой-бэнда ’N Sync. В 2002 году он выпустил свой первый сольный альбом Justified, проданный более 8 миллионов копий по всему миру. Вторым соло-релизом Тимберлейка стал альбом FutureSex/LoveSounds, который был выпущен в 2006 году и включил в себя такие успешные синглы как «SexyBack», «My Love» и «What Goes Around... Comes Around», ставшие хитами № 1 в США. К январю 2008 года FutureSex/LoveSounds разошёлся более чем 8 миллионами копий. Тимберлейк продал более 18 миллионов копий своих двух соло-альбомов. Также он основал собственный рекорд-лейбл Tennman Records и запустил линию одежды William Rast.</p>
				</section>
			</div>
		</div>
	</body> 
</html>