<!DOCTYPE html>
<html>  
<head>
 	<meta charset="utf-8"> 
 	<title> Кратко </title> 

	<head> 
			<h1>Джастин Тимберлейк</h1> 
	<body bgcolor="FFFFCC"> 
		<div class="content-container">
			<section class="image">
				<div class="image-container">
				<center><img src="img/1.png" width="300" alt="">
				</center>
				<section class="links">
					<h2 id="links" class="sectionText">Социальные сети</h2>
					<ul>
					<li><h3><a href="https://www.instagram.com/justintimberlake/" target="_blank">Instagram</a></h3></li>
					<li><h3><a href="https://twitter.com/jtimberlake?lang=ru" target="_blank"> Twitter</a></h3></li>
					<li><h3><a href="https://ru-ru.facebook.com/justintimberlake" target="_blank">Facebook</a></h3></li>
					<li><h3><a href="https://www.tiktok.com/discover/Justin-Timberlake?lang=ru-RU" target="_blank">Tik Tok</a></h3></li>	
				</ul>
				</section>
			</div>
		</div>
	</body> 
</html>