<!DOCTYPE html>
<html>  
<head>
 	<meta charset="utf-8"> 
 	<title> Кратко  </title> 

	<head> 
			<h1>Джастин Тимберлейк</h1> 
	<body bgcolor="FFFFCC"> 
		<div class="content-container">
			<section class="image">
				<div class="image-container">
				<center><img src="img/1.png" width="300" alt="">
				</center>
				<section class="movies">
					<h2 id="movies" class="sectionText">Биография</h2>
					<p class="mainText">В 2005 году вышел фильм «Эдисон», где Тимберлейк играл журналиста, узнавшего о сплошной коррумпированости подразделения спецназа в полиции своего городка и объединившего свои усилия в расследовании с пожилым опытным журналистом Эшфордом (Морган Фримен) и частным сыщиком Уолласом (Кевин Спейси).</p>
					</section>
			</div>
		</div>
	</body> 
</html>