<!DOCTYPE html>
<html>  
<head>
 	<meta charset="utf-8"> 
 	<title> Кратко </title> 

	<head> 
			<h1>Джастин Тимберлейк</h1> 
	<body bgcolor="FFFFCC"> 
		<div class="content-container">
			<section class="image">
				<div class="image-container">
				<center><img src="img/1.png" width="300" alt="">
				</center>
				<section class="music">
					<h2 id="music" class="sectionText">Музыка</h2>
					<p class="mainText">В 2002 году Тимберлейк начал сольную карьеру, записав альбом Justified (две премии «Грэмми»). В следующем году стал главным лауреатом на MTV Europe Awards, а в 2004 году вокруг него разразился грандиозный скандал. Выступая вместе с Джанет Джексон на Super Bowl Half-Time Show перед миллионами телезрителей, он (случайно, по собственному утверждению) оторвал ту часть топа, которая прикрывала правую грудь Джексон. В песне, которую они исполняли, были слова: «Я тебя раздену до конца этой песни».

					<br>После инцидента Тимберлейк сделал паузу в своей карьере, во время которой он нашёл время поработать с рэперами Snoop Dogg и Nelly. Свой второй альбом — FutureSex/LoveSounds (ещё две премии «Грэмми») — он записывал вместе с хип-хоп продюсером и автором песен Тимбалэндом. Диск появился в 2006 году и стал одним из самых популярных релизов года. Три хита из этого альбома — «SexyBack», «My Love» и «What Goes Around…» — достигли первого места в Billboard Hot 100. Тимберлейк был назван «Самым сексуальным мужчиной» такими журналами как Teen People, Cosmopolitan и другими. После этого он решил сделать паузу в музыкальной карьере, чтобы сконцентрироваться на профессии актёра.

					<br>В 2013 Тимберлейк вернулся в музыку в совместной песне с Джей-Зи. Также записал сингл и видеоклип «Mirrors», обещающий стать очередным суперхитом. 15 марта того же года состоялся релиз третьего альбома Тимберлейка — The 20/20 Experience, который получил высокие оценки как фанатов, так и критиков. В сентябре последовал альбом-продолжение The 20/20 Experience: 2 of 2, который имел более танцевальный настрой. Он получил менее восторженные отзывы критиков, но стартовал на первом месте чарта Billboard 200. В поддержу обоих альбомов прошёл большой тур The 20/20 Experience World Tour, который начался в 2014 году.

					<br>2 января 2018 года Джастин Тимберлейк объявил дату релиза его первого за пять лет студийного альбома. Свой новый альбом Джастин назвал самой личной пластинкой, которую он когда-либо выпускал. 5 января Тимберлейк выпустил первый трек из нового альбома, причем сразу с клипом. Певец представил музыкальное видео на композицию Filthy с пластинки Man of the Woods.</p>
				</section>
			</div>
		</div>
	</body> 
</html>